.container {
  background-color: #080216;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  margin: 0;
  min-height: 100vh;
}

.title {
  margin: 0;
  font-size: 32px;
  background: -webkit-linear-gradient(45deg, #f40003, #b701ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  line-height: 120%;
}

.descricao {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  width: 80vw;
  max-width: 480px;
}

.qr {
  height: 50vw;
  width: 50vw;
  max-width: 300px;
  max-height: 300px;
  margin-top: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr img {
  width: 95%;
}

.contDados {
  color: #ffffff;
  width: 90vw;
  max-width: 540px;
  margin-top: 32px;
}

.rowDados {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.titleDados {
  font-weight: 900;
  margin: 0;
}

.valueDados {
  margin: 0;
  font-weight: 300;
  opacity: 0.8;
}

.copiar {
  padding: 14px 0;
  width: 90vw;
  max-width: 540px;
  outline: none;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  color: #fff;
  font-weight: 900;
  background: -webkit-linear-gradient(45deg, #f40003, #b701ad);
  margin-top: 32px;
  cursor: pointer;
}

.copiar:hover {
  background: -webkit-linear-gradient(45deg, #cc070a, #b701ad);
}

.copiar:active {
  background: -webkit-linear-gradient(45deg, #e61216, #b701ad);
}

@media screen and (min-width: 600px) {

}